<!--项目案例开始-->
    <section class="project wrap">
        <div class="proj1">
            <div class="proj1-hd ">
                <a class="animated lsqh" href="javascript:;" target="_blank">庐山球会</a>
            </div>
            <div class="pro-line"></div>
            <div class="proj1-mn"><img src="img/lsqh.jpg" alt="庐山球会" /></div>
            <div class="proj-text">
                <span class="proj-title">项目描述：</span>
                <span class="proj-text">包括球场管理、相册、时间设置、订单管理、资讯管理、用户管理、营销管理、系统管理等。</span>
            </div>
            <div class="line"></div> 
            <div class="proj-text">
                <span class="proj-title">职责描述：</span>
                <span class="proj-text">与UI沟通商讨页面设计原型图，还原设计师的PSD稿；对项目进行页面优化，添加页面交互效果；使用ajax进行数据交互，与后台开发人员协同实现功能等。</span>  
            </div>
        </div>
        <div class="proj1">
            <div class="proj1-hd ">
                <a class="animated gqq" href="javascript:;">高球圈</a>
            </div>
            <div class="pro-line"></div>
            <div class="proj1-mn"><img src="img/gqq.jpg" alt="高球圈" /></div>
            <div class="proj-text">
                <span class="proj-title">项目描述：</span>
                <span class="proj-text">包括赛事活动、我的球队、个人中心等；球童管理项目，包括球场资讯、赛事直播、球车定位、系统设置等。</span>
            </div>
            <div class="line"></div> 
            <div class="proj-text">
                <span class="proj-title">职责描述：</span>
                <span class="proj-text">与UI沟通商讨页面设计原型图，还原设计师的PSD稿；对项目进行页面优化，添加页面交互效果；使用ajax进行数据交互，与后台开发人员协同实现功能等。</span>  
            </div>
        </div>
        <div class="proj2 proj1">
            <div class="proj1-hd">
                <a class="animated qjt" href="javascript:;" >千驹堂</a>
            </div>
            <div class="pro-line"></div>
            <div class="proj1-mn"><img src="img/qjt.jpg" alt="千驹堂" /></div>
            <div class="proj-text">
                <span class="proj-title">项目描述：</span>
                <span class="proj-text">1.响应式移动网站，适用各种屏幕尺寸；2.对网站进行页面重构以及优化。</span>
            </div>
            <div class="line"></div> 
            <div class="proj-text">
                <span class="proj-title">职责描述：</span>
                <span class="proj-text">1.触摸滑动焦点图，图片自适应各种屏幕；2.搜索背景图变换屏幕不失真，搜索关联文字；3.悬浮动画导航；4.flex的布局方式；5.中/英文字切换按钮。</span>  
            </div>
        </div>
        <div class="proj3 proj1 proj2">
            <div class="proj1-hd">
                <a class="animated wbn" href="javascript:;" target="_blank" >吾伴你</a>
            </div>
            <div class="pro-line"></div>
            <div class="proj1-mn"><img src="img/wbn.jpg" alt="吾伴你" /></div>
            <div class="proj-text">
                <span class="proj-title">项目描述：</span>
                <span class="proj-text">1.响应式移动网站，适用各种屏幕尺寸；2.对网站进行页面重构以及优化。</span>
            </div>
            <div class="line"></div> 
            <div class="proj-text">
                <span class="proj-title">职责描述：</span>
                <span class="proj-text">1.导航按钮css3动画；2.触摸滑动焦点图，图片自适应各种屏幕；3.留言板表单验证；4.flex的布局方式；5.中/英文字切换按钮。</span>  
            </div>
        </div>
        <div class="proj4 proj1">
            <div class="proj1-hd">
                <a class="animated ks" href="javascript:;" >昆山企业</a>
            </div>
            <div class="pro-line"></div>
            <div class="proj1-mn"><img src="img/ks.jpg" alt="昆山企业" /></div>
            <div class="proj-text">
                <span class="proj-title">项目描述：</span>
                <span class="proj-text">1.企业PC网站；2.对网站进行页面重构以；3.交互以及兼容性优化调整。</span>
            </div>
            <div class="line"></div> 
            <div class="proj-text">
                <span class="proj-title">职责描述：</span>
                <span class="proj-text">1.网站背景音乐开关；2.兼容到ie6的导航固定；3.导航hover滑动门以及导航音乐；4.全兼容的返回顶部动画小火箭；5.搜索切换按钮。</span>
            </div>
        </div>
        
    </section>    
    <!--项目案例结束-->   
    <link rel="stylesheet" type="text/css" href="css/project.css" />
    <script type="text/javascript" src="js/project.js"></script>