<!--焦点图开始-->
    <section class="slider">
        <ul>
            <li><img src="img/banner4.jpg" height="520" width="1920" alt="昆山企业" /></li>
            <li><img src="img/banner1.jpg" height="520" width="1920" alt="球童管理项目" /></li>
            <li><img src="img/banner2.jpg" height="520" width="1920" alt="庐山球会" /></li>
            <li><img src="img/banner3.jpg" height="520" width="1920" alt="高球圈" /></li>
        </ul>
        <ol>
            <li class="current"></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <a href="javascript:;" class="prev"></a>
        <a href="javascript:;" class="next"></a>
    </section>
    <!--焦点图结束-->
    <!--项目经验开始-->
    <section class="project">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">项目经验</span>
            </div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">公司名称：</span>
                        <span class="project-mn-text">广州千纵网络科技有限公司</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">部门：</span>
                        <span class="project-mn-text">技术部</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">时间：</span>
                        <span class="project-mn-text">2016年7月至2017年11月</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">主要职责：</span>
                        <span class="project-mn-text">前端开发工程师</span>
                    </div>   
                </div> 
            </div>
            <div class="project-ft">
                <div class="project-text">
                    <span class="project-mn-title">项目名称：</span>
                    <span class="project-mn-text">庐山球会、高球圈和球童管理项目</span>
                </div>
                <div class="project-text">
                    <span class="project-mn-title">项目描述：</span>
                    <span class="project-mn-text">庐山球会，包括球场管理、相册、时间设置、订单管理、资讯管理、用户管理、营销管理、系统管理等；高球圈，包括赛事活动、我的球队、个人中心等；球童管理项目，包括球场资讯、赛事直播、球车定位、系统设置等；主要负责前端工作。</span>
                </div> 
                <div class="project-text">
                    <span class="project-mn-title">职责描述：</span>
                    <span class="project-mn-text">与UI沟通商讨页面设计原型图，还原设计师的PSD稿；对项目进行页面优化，添加页面交互效果；使用ajax进行数据交互，与后台开发人员协同实现功能等。</span>
                </div>
                <div class="project-text">
                    <span class="project-mn-title">项目地址：</span>
                    <span class="project-mn-text"><a href="http://dev.lushan.igolf3d.com/" target="_blank">庐山球会</a>&nbsp;&nbsp;<a href="http://dev.mp.igolf3d.com/" target="_blank">高球圈</a>&nbsp;&nbsp;<a href="http://course.igolf3d.com/" target="_blank">球童管理项目</a></span>
                </div>
            </div>
            <div class="line"></div>
            <div class="project-mn  clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">公司名称：</span>
                        <span class="project-mn-text">超美网络科技有限公司</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">部门：</span>
                        <span class="project-mn-text">技术部</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">时间：</span>
                        <span class="project-mn-text">2015年7月至2016年6月</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">主要职责：</span>
                        <span class="project-mn-text">web前端开发工程师</span>
                    </div>   
                </div> 
            </div>
            <div class="project-ft">
                <div class="project-text">
                    <span class="project-mn-title">项目描述：</span>
                    <span class="project-mn-text">对网站进行页面重构，并将其优化，用jQuery实现用户交互体验，尽量兼容所有浏览器；响应式移动网站。</span>
                </div> 
                <div class="project-text">
                    <span class="project-mn-title">职责描述：</span>
                    <span class="project-mn-text">参与项目的代码编写及优化，协同后台人员进行数据交互。</span>
                </div>
            </div>
        </div>        
    </section>
    <!--项目经验结束-->
    <!-- 实践经验开始 -->
    <section class="project practice">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">实践经验</span>
            </div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">昆山企业网</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">对网站进行页面重构，多加动态和互动效果</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">项目代码编写，主要负责页面重构，并将网站优化</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="http://uiqianduan.com/ks" target="_blank">uiqianduan.com/ks</a></span>
                    </div>   
                </div> 
            </div>
            <div class="line"></div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">千驹堂</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">响应式移动网站，对网站进行页面重构</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">项目代码编写，主要负责页面重构，实现响应式网站</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="http://uiqianduan.com/mqjt" target="_blank">uiqianduan.com.com/mqjt</a></span>
                    </div>   
                </div> 
            </div>
            <div class="line"></div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">吾伴你婚纱礼服网</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">响应式移动网站，对网站进行页面重构</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">项目代码编写，主要负责页面重构，实现响应式网站</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="http://uiqianduan.com/mwbn" target="_blank">uiqianduan.com/mwbn</a></span>
                    </div>   
                </div> 
            </div>
            <div class="line"></div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">项目名称：</span>
                        <span class="project-mn-text">模仿中国电信官网</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目描述：</span>
                        <span class="project-mn-text">对网站进行页面重构，实现用户交互体验</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">职责描述：</span>
                        <span class="project-mn-text">主导项目的开发</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">项目地址：</span>
                        <span class="project-mn-text"><a href="http://uiqianduan.com/fzgdx" target="_blank">uiqianduan.com/fzgdx</a></span>
                    </div>   
                </div> 
            </div>
        </div>       
    </section>
    <!-- 实践经验结束 -->
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/index.js"></script>