    
<!--焦点图开始-->
    <section class="wrap">
        <div class="special1">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" target="_blank" >焦点图1</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="slider1">
                    <ul>
                        <li class="first">
                            <a href="javascript:;"><img src="img/201109291718425.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207261743282.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291718573.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291719040.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207311057406.jpg" width="782" height="326" alt=""/></a>
                        </li>
                    </ul>
                    <ol>
                        <li>
                            <a href="javascript:;"><img class="on" src="img/201109291718425.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207261743282.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291718573.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291719040.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207311057406.jpg" width="782" height="326" alt=""/></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="special1 ban2">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" target="_blank" >焦点图2</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <!--banner分区开始-->
                <div class="banner-bd">
                    <ul>
                        <li><a href="javascript:;"><img src="img/banner01.jpg" width="520" height="280" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/banner02.jpg" width="520" height="280" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/banner03.jpg" width="520" height="280" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/banner04.jpg" width="520" height="280" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/banner05.jpg" width="520" height="280" alt=""/></a></li>
                    </ul>                   
                    <!--切换箭头开始-->
                    <a href="javascript:;" class="prev iconfont">&#xe60b;</a>
                    <a href="javascript:;" class="next iconfont">&#xe60c;</a>
                    <!--切换箭头结束-->
                    <!--指示器开始-->
                    <ol>
                        <li class="current"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <!--指示器结束-->
                </div>
                <!--banner分区结束-->
            </div>
        </div>
        <div class="special1 ban3">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" target="_blank" >焦点图3</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <!--banner分区开始-->
                <div class="slider3">
                    <ul>
                        <li><a href="javascript:;"><img src="img/001.jpg" width="490" height="170" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/002.jpg" width="490" height="170" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/003.jpg" width="490" height="170" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/004.jpg" width="490" height="170" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/005.jpg" width="490" height="170" alt=""/></a></li>
                    </ul>
                    <ol>
                        <li class="on">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ol>
                </div>             
                <!--banner分区结束-->
            </div>
        </div>
    </section>      
    <!-- 焦点图结束 -->
    <link rel="stylesheet" type="text/css" href="css/special.css" />
    <link rel="stylesheet" type="text/css" href="css/banner.css" />
    <script type="text/javascript" src="js/banner.js"></script>