
    <link rel="stylesheet" type="text/css" href="css/special.css" />
    <link rel="stylesheet" type="text/css" href="css/more.css" />
    <script type="text/javascript" src="js/spin.js"></script>
    <script type="text/javascript" src="js/more.js"></script>
    <!--页面特效开始-->
    <section class="wrap">
        <div class="special1 more">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" >扫光</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="light">
                    <img src="img/jd.jpg" height="475" width="330" alt="" />        
                </div>                
            </div>
        </div>
        <div class="special1 special2">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;"  >音乐盒子</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <span class="mbtn1" >播放</span>
                <span class="mbtn2" >暂停</span>
                <ul class="music">
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                    <li><img src="img/girl.png" alt="" /></li>
                </ul>
                <audio class="mp3" src="img/music.mp3"></audio>               
            </div>
        </div>
        <div class="special1 more3">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" >视频控制</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <span class="pbtn">播放</span>
                <span class="pbtn">停止</span>
                <span class="pbtn">快进</span>
                <span class="pbtn">快退</span>
                <span class="pbtn">加速</span>
                <span class="pbtn">减速</span>
                <span class="pbtn">正常</span>
                <span class="pbtn">静音</span>
                <span class="pbtn">+</span>
                <span class="pbtn">-</span>
                <video class="mp4" src="img/movie.mp4" controls></video>                
            </div>
        </div>
        <div class="clearfix">
            <div class="special1 fl  more4">
                <div class="spe1-hd ">
                    <a class="animated" href="javascript:;"  >加载</a>
                </div>
                <div class="spe-line"></div>
                <div class="spe-mn">
                <div id="secondDiv">
                        <span id="btnRequest" class="btnStyle" >加载</span>
                        <span id="btnStop" class="btnStyle" >关闭</span>
                    </div>
                    <div id="firstDiv"></div>
                </div>      
            </div>
            <div class="special1 fr more4">
                <div class="spe1-hd ">
                    <a class="animated" href="javascript:;" >钱包</a>
                </div>
                <div class="spe-line"></div>
                <div class="spe-mn">            
                    <div class="bdmoney"></div>
                </div>      
            </div>
        </div>
    </section>       
    <!-- 页面特效结束 -->
