    <link rel="stylesheet" type="text/css" href="css/special.css" />
    <link rel="stylesheet" type="text/css" href="css/scroll.css" />
    <script type="text/javascript" src="js/scroll.js"></script>
<!--页面特效开始-->
    <section class="wrap">
        <div class="special1 special2">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;">滚动1</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="slider2">
                  <ul>
                        <li><a href="javascript:;"><img src="img/01.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/02.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/03.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/04.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/01.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/02.jpg" width="300" height="200" alt=""/></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="special1 scroll2">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" >滚动2</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="scroll-txt">
                    <div class="title">最新购卡用户</div>
                    <div class="scroll-txt-mn">
                        <ul >
                            <li class="clearfix"><p><span>李**</span></p><span class="fl">183****0992</span><span class="fr">6分钟前</span></li>
                            <li class="clearfix"><p><span>柯**</span></p><span class="fl">186****0841</span><span class="fr">10分钟前</span></li>
                            <li class="clearfix"><p><span>丁**</span></p><span class="fl">139****0318</span><span class="fr">13分钟前</span></li>
                            <li class="clearfix"><p><span>邓**</span></p><span class="fl">189****2336</span><span class="fr">18分钟前</span></li>
                            <li class="clearfix"><p><span>梁**</span></p><span class="fl">138****9062</span><span class="fr">20分钟前</span></li>
                            <li class="clearfix"><p><span>田**</span></p><span class="fl">155****7966</span><span class="fr">26分钟前</span></li>
                            <li class="clearfix"><p><span>王**</span></p><span class="fl">139****7189</span><span class="fr">34分钟前</span></li>
                            <li class="clearfix"><p><span>李**</span></p><span class="fl">188****0100</span><span class="fr">35分钟前</span></li>
                            <li class="clearfix"><p><span>李**</span></p><span class="fl">159****3413</span><span class="fr">47分钟前</span></li>
                            <li class="clearfix"><p><span>温**</span></p><span class="fl">188****0500</span><span class="fr">58分钟前</span></li>
                            <li class="clearfix"><p><span>刘**</span></p><span class="fl">136****1093</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>杨**</span></p><span class="fl">186****5356</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>冼**</span></p><span class="fl">135****0181</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>高**</span></p><span class="fl">189****9888</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>黄**</span></p><span class="fl">159****1303</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>严**</span></p><span class="fl">152****7721</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>黎**</span></p><span class="fl">187****6985</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>何**</span></p><span class="fl">180****2038</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>杨**</span></p><span class="fl">139****6898</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>黄**</span></p><span class="fl">137****6868</span><span class="fr">1小时前</span></li>
                            <li class="clearfix"><p><span>胥**</span></p><span class="fl">186****7113</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>刘**</span></p><span class="fl">136****1312</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>冼**</span></p><span class="fl">131****0088</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>卢**</span></p><span class="fl">135****9662</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>黄**</span></p><span class="fl">151****8091</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>巩**</span></p><span class="fl">135****3308</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>杨**</span></p><span class="fl">139****2310</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>肖**</span></p><span class="fl">131****0423</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>卢**</span></p><span class="fl">135****9662</span><span class="fr">2小时前</span></li>
                            <li class="clearfix"><p><span>谢**</span></p><span class="fl">137****8072</span><span class="fr">3小时前</span></li>
                            <li class="clearfix"><p><span>彭**</span></p><span class="fl">139****5909</span><span class="fr">3小时前</span></li>
                            <li class="clearfix"><p><span>蔡**</span></p><span class="fl">189****6204</span><span class="fr">3小时前</span></li>
                            <li class="clearfix"><p><span>殷**</span></p><span class="fl">138****1667</span><span class="fr">3小时前</span></li>
                        </ul>
                    </div>
                </div>               
            </div>
        </div>
        <div class="special1 scroll3">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" >滚动3</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="slibox">
                    <ul>
                        <li><a href="javascript:;"><img src="img/011.jpg" width="500" height="300" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/022.jpg" width="500" height="300" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/033.jpg" width="500" height="300" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/044.jpg" width="500" height="300" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/055.jpg" width="500" height="300" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/066.jpg" width="500" height="300" alt=""/></a></li>
                    </ul>
                </div>              
            </div>
        </div>
    </section>
       
    <!-- 页面特效结束 -->
  