    <link rel="stylesheet" type="text/css" href="css/special.css" />
    <link rel="stylesheet" type="text/css" href="css/show.css" />
    
    <script type="text/javascript" src="js/lrtk.js"></script>
    <script type="text/javascript" src="js/show.js"></script>
   <!--页面特效开始-->
    <section class="wrap">
        <div class="special1 show2">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;"  >展示1</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="slider4">
                    <ol>
                        <li class="on"><a href="javascript:;">女靴</a></li>
                        <li><a href="javascript:;">雪地靴</a></li>
                        <li><a href="javascript:;">冬裙</a></li>
                        <li><a href="javascript:;">呢大衣</a></li>
                        <li><a href="javascript:;">毛衣</a></li>
                        <li><a href="javascript:;">棉服</a></li>
                        <li><a href="javascript:;">女裤</a></li>
                        <li><a href="javascript:;">羽绒服</a></li>
                        <li><a href="javascript:;">牛仔裤</a></li>
                    </ol>
                    <ul>
                        <li><a href="javascript:;"><img src="img/0001.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0002.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0003.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0004.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0005.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0006.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0007.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0008.jpg" width="200" height="250" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/0009.jpg" width="200" height="250" alt=""/></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="special1">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;"  >展示2</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="box">
                    <img src="img/xiaotu.jpg" width="350" height="350" alt=""/>
                    <a href="javascript:;" target="_blank" class="handle"></a>
                    <div class="big-box"><img src="img/datu.jpg" width="800" height="800" alt=""/></div>
                </div>
            </div>
        </div>
        <div class="special1 special3">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;"  >展示3</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div id="div1">
                    <a >web前端</a>
                    <a >百度推广</a>
                    <a >html5</a>
                    <a >css3</a>
                    <a >响应式</a>
                    <a >百度统计</a>
                    <a >flex用法</a>
                    <a >Photoshop</a>
                    <a >Dreamweaver</a>
                    <a >兼容性</a>
                    <a >搜索引擎</a>
                    <a >Javascript</a>
                    <a >Jquery</a>
                    <a >Sublime</a>
                    <a >交互体验</a>
                    <a >代码规范</a>
                    <a >手机网站</a>
                </div>
            </div>
        </div>
        <div class="special1 special4">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;" >展示4</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="shbox">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0111.JPG" width="178" height="125" alt=""/>
                                <span>百度一下，你就知道</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0222.JPG" width="178" height="125" alt=""/>
                                <span>淘宝</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0333.JPG" width="178" height="125" alt=""/>
                                <span>新浪</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0444.JPG" width="178" height="125" alt=""/>
                                <span>网易</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0555.JPG" width="178" height="125" alt=""/>
                                <span>搜狐</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0777.JPG" width="178" height="125" alt=""/>
                                <span>优酷</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0666.JPG" width="178" height="125" alt=""/>
                                <span>腾讯</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="img/0888.JPG" width="178" height="125" alt=""/>
                                <span>京东</span>
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
        <div class="special1 special5">
            <div class="spe1-hd ">
                <a class="animated" href="javascript:;"  >展示5</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="threed">
                    <img src="img/musict.jpg" height="200" width="200" alt="" />
                    <img src="img/musicb.jpg" height="200" width="200" alt="" />
                </div>
            </div>
        </div>
          
    </section>
       
    <!-- 页面特效结束 -->
  