<!--页面特效开始-->
    <section class="wrap">
        <div class="special1">
            <div class="spe1-hd ">
                <a class="animated" href="banner.html" target="_blank" >焦点图</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="slider1">
                    <ul>
                        <li class="first">
                            <a href="javascript:;"><img src="img/201109291718425.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207261743282.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291718573.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291719040.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207311057406.jpg" width="782" height="326" alt=""/></a>
                        </li>
                    </ul>
                    <ol>
                        <li>
                            <a href="javascript:;"><img class="on" src="img/201109291718425.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207261743282.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291718573.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201109291719040.jpg" width="782" height="326" alt=""/></a>
                        </li>
                        <li>
                            <a href="javascript:;"><img src="img/201207311057406.jpg" width="782" height="326" alt=""/></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="special1 special2">
            <div class="spe1-hd ">
                <a class="animated" href="scroll.html" target="_blank" >滚动</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div class="slider2">
                  <ul>
                        <li><a href="javascript:;"><img src="img/01.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/02.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/03.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/04.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/01.jpg" width="300" height="200" alt=""/></a></li>
                        <li><a href="javascript:;"><img src="img/02.jpg" width="300" height="200" alt=""/></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="special1 special3">
            <div class="spe1-hd ">
                <a class="animated" href="show.html" target="_blank" >展示</a>
            </div>
            <div class="spe-line"></div>
            <div class="spe-mn">
                <div id="div1">
                    <a >web前端</a>
                    <a >百度推广</a>
                    <a >html5</a>
                    <a >css3</a>
                    <a >响应式</a>
                    <a >百度统计</a>
                    <a >flex用法</a>
                    <a >Photoshop</a>
                    <a >Dreamweaver</a>
                    <a >兼容性</a>
                    <a >搜索引擎</a>
                    <a >Javascript</a>
                    <a >Jquery</a>
                    <a >Sublime</a>
                </div>
            </div>
        </div> 
    </section>       
    <!-- 页面特效结束 -->   
    <script type="text/javascript" src="js/lrtk.js"></script>
    <link rel="stylesheet" type="text/css" href="css/special.css" />
    <script src="js/special.js"></script>