
    
<!--简介基本开始-->
    <!--简介基本开始-->
    <section class="project brief wrap">        
        <div class="wrap">
            <div class="hd-tt">熊文静</div>
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">基本信息</span>
            </div>
            <div class="project-mn clearfix">
                <div class="project-mn-l fl">
                    <div class="project-text">
                        <span class="project-mn-title">学历：</span>
                        <span class="project-mn-text">大学本科</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">专业：</span>
                        <span class="project-mn-text">软件开发与设计</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">电话：</span>
                        <span class="project-mn-text">15692025919</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">技能：</span>
                        <span class="project-mn-text">英语四级，驾照C1</span>
                    </div>
                </div>
                <div class="project-mn-r fr">
                    <div class="project-text">
                        <span class="project-mn-title">年龄：</span>
                        <span class="project-mn-text">24</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">政治面貌：</span>
                        <span class="project-mn-text">共产党员</span>
                    </div>
                    <div class="project-text">
                        <span class="project-mn-title">电子邮箱：</span>
                        <span class="project-mn-text">xiaojingisbest@163.com</span>
                    </div>   
                    <div class="project-text">
                        <span class="project-mn-title">求职意向：</span>
                        <span class="project-mn-text">前端开发工程师</span>
                    </div> 
                </div> 
            </div>
        </div>
    </section>
    <!-- 简介基本结束 -->
    <!-- 简介技能开始 -->
    <section class="project">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">技能专长</span>
            </div>
            <div class="expertise">
                <p>精通div+css网页布局与样式，对html语义化有深刻的理解。</p>
                <p>精通html5+css3、ajax、javascript、jQuery、zepto、json、bootstrap、rem、flex、媒体查询等技术，会开发响应式网站、移动网站。</p>
                <p>熟练使用Vue和AngularJs，进行组件化开发，配合路由配置，实现单页应用。</p>
                <p>熟练使用git进行代码备份，代码提交，代码获取更新，版本回退等。</p>
                <p>熟练使用gulp、webpack等进行代码编译、压缩、打包。</p>
                <p>熟练CSS 预处理语言less、sass，使 CSS 更易维护和扩展。</p>
                <p>熟练掌握各浏览器间的差异，能快速定位、解决浏览器兼容性问题。</p>
                <p>熟悉ReactNative技术开发原生APP并进行打包，熟悉mui+H5+等技术开发混合式APP并进行打包，熟练开发微信小程序。</p>
                <p>熟悉node进行简单后台搭建，Express应用操作文件、操作数据库，熟悉Java、PHP。</p>
                <p>熟悉ES6语法，面向对象开发，闭包，函数原型链，框架封装分模块开发，熟悉Canvas绘图。</p>
                <p>具备良好的编程风格，代码简洁整齐，可复用性、可访问性良好，能独立完成前端代码，也具有良好的团队协作能力。</p>
                <p>熟悉APICloud，了解Ionic开发混合式APP并进行打包。</p>
                <p>精通Sublime、Hbulider、Dreamweaver、Photoshop、AI、Firework，熟练使用微信web开发者工具、apicloud-studio-2、flash等。</p>
                <p>熟练使用SourceTree、git、bower包管理器、github等，与队友交流代码。</p>     
            </div>
        </div>         
    </section>
    <!--简介技能结束-->
    <section class="project">        
        <div class="wrap">
            <div class="project-hd">
                <span  class="hvr-bounce-to-right">自我评价</span>
            </div>
            <div class="expert">
                <p>我虽然本科专业是后台，但是对前端特别感兴趣，打算一直往前端方向发展，我喜欢探索，求知欲特别强。我喜欢有计划性，对自己制定计划执行到位，善于总结归纳反思，上进心强，不断努力做最好的；自学能力强，做事细心、考虑问题全面，有良好的工作态度和分析问题以及解决问题的能力。我平时也是个爱运动的人，喜欢跑步，体能测试跑步女子第一，打羽毛球；还喜欢听音乐，看书。</p>
                <p>我希望能通过公司提高自己能力，不断进步，并且长期为公司出力，晋升加薪，希望公司给予相应的价值体现。</p>
            </div>
        </div>         
    </section>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/brief.css" />
    <script type="text/javascript" src="js/brief.js"></script>