<!-- PS作品开始 -->
    <section class="wrap">
        <div class="ps1">
            <div class="ps1-hd">
                <a class="animated" href="javascript:;" target="_blank" >火焰赛车</a>
            </div>
            <div class="ps-line"></div>
            <div class="ps-mn"><img src="img/fireCar.jpg" alt="火焰赛车" /></div>
        </div>
        <div class="explain">赛车运动起源距今已有超过100年的历史。最早的赛车比赛是在城市间的公路上进行的。许多车手因为公路比赛极大的危险性而丧生，于是专业比赛赛道应运而生。第一场赛车比赛于1887年4月20日在巴黎举行。本作品素材是静止赛车和黑色龙头，采用了径向渐变，径向模糊，通道抠图，内外阴影添加等技术去渲染。
        </div>
    </section>
    <!-- PS作品结束 -->
    <link rel="stylesheet" type="text/css" href="css/firecar.css" />
    <script type="text/javascript" src="js/firecar.js"></script>