 <!-- PS作品开始 -->
    <section class="wrap">
        <div class="ps1">
            <div class="ps1-hd">
                <a class="animated" href="javascript:;" target="_blank" >化妆品</a>
            </div>
            <div class="ps-line"></div>
            <div class="ps-mn"><img src="img/hzp.jpg" alt="化妆品" /></div>
        </div>
        <div class="explain">韩束，作为上美化妆品有限公司旗下最大的中高端时尚品牌。多年来，韩束一步一个脚印，遵循上美多元、乐观、创新、冒险的企业精神，在生产实力、科研力量、渠道建设、品牌精髓等各个方面，均跻身行业第一集团，成为国货自强的代表性品牌。本作品素材是韩束化妆品图片和美女图片，采用了径向渐变，液化，旋转羽化，阴影蒙版等技术去渲染。
        </div>
    </section>
    <!-- PS作品结束 -->
    <link rel="stylesheet" type="text/css" href="css/firecar.css" />
    <script type="text/javascript" src="js/firecar.js"></script>