<!-- PS作品开始 -->
    <section class="wrap">
        <div class="ps1">
            <div class="ps1-hd ">
                <a class="animated" href="javascript:;" target="_blank" >火焰赛车</a>
            </div>
            <div class="ps-line"></div>
            <div class="ps-mn"><img src="img/fireCar.jpg" alt="火焰赛车" /></div>
        </div>
        <div class="ps2 clearfix">
            <div class="fl ps1">
                <div class="ps1-hd ">
                    <a class="animated" href="javascript:;" target="_blank" >变形金刚</a>
                </div>
                <div class="ps-line"></div>
                <div class="ps-mn">
                    <img src="img/bxjg.jpg" alt="变形金刚" />
                </div>
                
            </div>
            <div class="fr ps1">
                <div class="ps1-hd ">
                    <a class="animated" href="javascript:;" target="_blank" >手机游戏</a>
                </div>
                <div class="ps-line"></div>
                <div class="ps-mn">
                    <img src="img/sjyx.jpg" alt="手机游戏" />
                </div>    
            </div>
        </div>
        <div class="ps1">
            <div class="ps1-hd ">
                <a class="animated" href="javascript:;" target="_blank" >云端和尚</a>
            </div>
            <div class="ps-line"></div>
            <div class="ps-mn"><img src="img/cloudm.jpg" alt="云端和尚" /></div>
        </div>
        <div class="ps2 clearfix">
            <div class="fl ps1">
                <div class="ps1-hd ">
                    <a class="animated" href="javascript:;" target="_blank" >打折宣传</a>
                </div>
                <div class="ps-line"></div>
                <div class="ps-mn">
                    <img src="img/dzxc.jpg" alt="打折宣传" />
                </div>              
            </div>
            <div class="fr ps1">
                <div class="ps1-hd ">
                    <a class="animated" href="javascript:;" target="_blank" >头部冒烟</a>
                </div>
                <div class="ps-line"></div>
                <div class="ps-mn">
                    <img src="img/tbmy.jpg" alt="头部冒烟" />
                </div>    
            </div>
        </div>
        <div class="ps1">
            <div class="ps1-hd ">
                <a class="animated" href="javascript:;" target="_blank" >化妆品</a>
            </div>
            <div class="ps-line"></div>
            <div class="ps-mn"><img src="img/hzp.jpg" alt="化妆品" /></div>
        </div>
    </section>
    <!-- PS作品结束 -->
    <link rel="stylesheet" type="text/css" href="css/photoshop.css" />
    <script type="text/javascript" src="js/photoshop.js"></script>