<!-- PS作品开始 -->
    <section class="wrap">
        <div class="ps1">
            <div class="ps1-hd">
                <a class="animated" href="javascript:;" target="_blank" >变形金刚</a>
            </div>
            <div class="ps-line"></div>
            <div class="ps-mn" style="width:800px;height:1200px;margin-left:auto;margin-right:auto;"><img src="img/bxjgb.jpg" alt="火焰赛车" /></div>
        </div>
        <div class="explain">《变形金刚电影版》是由NelsonShin导演的一部动画电影。主要讲述了在2005 年，霸天虎已经基本统治了塞博特恩，而汽车人则固守卫星基地准备反攻的故事。本作品素材是变形金刚、城市、山和乌云，采用了径向渐变，蒙版，内外阴影，羽化等技术去渲染。
        </div>
    </section>
    <!-- PS作品结束 -->
    <link rel="stylesheet" type="text/css" href="css/firecar.css" />
    <script type="text/javascript" src="js/firecar.js"></script>